:root {
	--background-color: hsl(120, 4%, 3%);
	--footer-background-color: hsl(120, 4%, 7%);
}

@font-face {
	font-family: 'Nunito';
	src: url(/assets/fonts/Nunito.woff2) format('woff2');
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes titleSlideIn {
		from {
			transform: translateX(-50%);
			opacity: 0;
		}

		to {
			transform: translateX(0%);
			opacity: 1;
		}
	}

	#navbar {
		transition: width 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.1);
	}

	#navbar.collapsed {
		transition-duration: 1s;
		transition-timing-function: unset;
	}

	#navbar>a {
		transition: flex 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.1);
	}

	#navbar.collapsed>a {
		transition-duration: 1s;
		transition-timing-function: unset;
	}

	#scrollToTop {
		transition: transform 0.5s;
	}

	@keyframes gradientPan {
		from {
			background-position: 200% center;
		}

		to {
			background-position: 0% center;
		}
	}

	@keyframes robotSpread {
		0% {
			transform: translateX(calc((100% + 10vw) * var(--offset)));
		}

		40% {
			transform: none;
		}
	}
}

@media (min-width: 1000px) {
	:root {
		--content-width: clamp(200px, 60vw, 1500px);
		--navbar-width: clamp(200px, 40vw, 1500px);
	}
}

@media (max-width: 1000px) {
	:root {
		--content-width: clamp(200px, 80vw, 1500px);
		--navbar-width: clamp(200px, 40vw, 1500px);
	}
}

@media (max-width: 600px) {
	:root {
		--content-width: clamp(200px, 80vw, 1500px);
		--navbar-width: var(--content-width)
	}
}

* {
	font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
	color-scheme: dark;
}

body {
	width: 100vw;
	margin: 0;
	background-color: var(--background-color);
	overflow-x: hidden;
}

main#content {
	--body-font-size: clamp(0.8em, 1.2vw, 2em);
	margin: 0;
	font-size: var(--body-font-size);
}

h1,
h2 {
	scroll-margin-top: 15vh;
}

#navbar {
	position: fixed;
	width: var(--navbar-width);
	height: 10vh;
	left: 50%;
	top: 2%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	background-color: #000000b4;
	border-radius: 10vw;

	overflow: hidden;
	z-index: 100;
}

#navbar.collapsed {
	width: 8vw;
}

#navbar>a {
	flex: 1;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
	font-size: min(2vw, 1.7em);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: end;
}

#navbar.collapsed>a {
	flex: 0;
}

#navbar>a>.navlink {
	min-width: max(calc(var(--navbar-width) / 4 - 2px), 100%);
	width: 100%;
	height: 1lh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid white;
}

#navbar>a:last-child>.navlink {
	border-right: 0;
}

#navbar>a:has(.logo) {
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar.collapsed>a:has(.logo) {
	flex: 1;
}

#navbar .logo {
	width: min(calc(var(--navbar-width) / 10), 8vh);
	height: min(calc(var(--navbar-width) / 10), 8vh);
	display: flex;
}

#titleScreen {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

#titleScreen>img {
	width: 100%;
	height: 100%;
	position: absolute;
	&:not(.img-contain) {
		object-fit: cover;
	}
}

#titleScreen>#slideshowWindow {
	width: 100%;
	height: 100%;
	display: block;
}

#slideshowWindow>img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	transition: left 1500ms;
}

#slideshowWindow>div {
	position: absolute;
	display: block;
	width: max(30px, 2vmax);
	height: max(30px, 2vmax);
	z-index: 100;
	top: 1vmin;
	right: 1vmin;

	&>#slideshowPause {
		position: absolute;
		appearance: none;
		cursor: pointer;
		width: 100%;
		height: 100%;
		margin: 0;

		&::after {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100%;
			background-image: var(--pause-icon);
			background-size: 100%;
			stroke: white;
		}

		&:checked {
			--pause-icon: url(assets/play.svg)
		}

		&:not(:checked) {
			--pause-icon: url(assets/pause.svg);
		}
	}
}

#titleScreen:has(#firetruck-title-img) {
	background: radial-gradient(circle at right, hsl(35, 98%, 20%) 1%, black 70%);
}

#titleScreen>#firetruck-title-img {
	right: 0;
	width: 50%;
}

#webglWarning {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 20% auto auto auto;
	visibility: hidden;
	z-index: 1;
}

#loading-screen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	transition: opacity 2s 1s;
	opacity: 1;
}

#loading-screen>img {
	position: absolute;
	width: 200px;
}

#loading-screen>#loading-text {
	position: absolute;
	top: 10%;
}

#loading-text>span {
	display: inline-block;
	min-width: 0.5em;
	text-align: center;
	animation: bounce 5s calc(250ms*var(--index)) infinite ease-in-out;
}

@keyframes bounce {
	10% {
		transform: translateY(-20px)
	}

	20% {
		transform: translateY(0)
	}
}

#loader {
	display: block;
	position: absolute;
	width: 260px;
	height: 260px;
	margin: 0;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0f0;
	animation: spin 2s linear infinite;
}

#loader:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #6f6;
	animation: spin 3s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 22px;
	left: 22px;
	right: 22px;
	bottom: 22px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9f9;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.bodyContent {
	width: var(--content-width);
	margin: 0 auto;
}

.waveDiv {
	width: 100vw;
	height: 20vh;
	overflow: hidden;
	position: absolute;
	bottom: 0%;
	left: 0%;
	fill: var(--background-color);
}

.contentWaveDiv {
	width: 100vw;
	height: 20vh;
	fill: var(--background-color);
}

.waveDiv>.waveSvg {
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0%;
}

.contentWaveDiv>.waveSvg {
	position: absolute;
	left: 0;
	z-index: 3;
}

#header {
	display: block;
	position: absolute;
	z-index: 5;
	left: 2%;
	width: 60%;
	bottom: 15%;
	margin: 0;
	transform: translateX(0%);
	animation: titleSlideIn backwards 1.5s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#header>p {
	margin: 0;
	font-size: clamp(20px, 2vw, 3rem);
}

#header>h1 {
	margin: 0;
	font-size: clamp(50px, 10vw, 10rem);
}

#header>h1.smallHeader {
	margin: 0;
	font-size: clamp(50px, 8vw, 8rem);
}

#header.fullHeader {
	width: 100%;
	min-height: 90vh;
	margin-top: 10vh;
	position: static;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&>h1 {
		position: inherit;
		margin: 0;
		text-align: center;
	}

	&>p {
		width: 50%;
		text-align: center;
		font-size: 1.5em;
	}
}

#header.fullHeader::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: -1;
	opacity: 0.4;
	background: url(/assets/logo.webp) no-repeat 50% 50%;
	background-size: 50%;
}

h1:not(:first-of-type) {
	margin-top: 10vh;
}

h2 {
	font-size: 3em;
	margin: 0;
}

.p-img-div-left,
.p-img-div-right {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 10%;
	margin: 5vh 0;

	&>* {
		max-width: 50%;
	}

	&>a {
		text-decoration: unset;
	}

	& h2 {
		font-size: 2.5em;
	}

	&>img {
		height: 100%;
		border-radius: 1rem;
		aspect-ratio: 1;
		object-fit: cover;
	}
}

.left-p-img.p-img-short,
.right-p-img.p-img-short {
	aspect-ratio: 3 / 2;
}

img.img-contain {
	object-fit: contain;
}


#awardsDiv {
	position: relative;
	height: 100vh;
	margin-top: -10vh;
}

.awardsImg {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: brightness(50%);
	object-fit: cover;
}

.awardsImgLayer {
	z-index: 5;
	pointer-events: none;
}

#awardsDiv>#awardsContent {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

#awardsContent>#awardsList {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-evenly;
	align-items: end;
}

#awardsList>.award {
	height: fit-content;
	box-sizing: border-box;
	padding: 1%;
	border: 1px solid white;
	border-radius: 10vw;
	text-align: center;
}

#awardsList>.award:nth-child(2) {
	align-self: start;
}

#robotsDiv {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#robotsDiv>#robotsContent {
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	gap: 10vw
}

.robotCard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-decoration: none;
	transition: transform 1.5s;
	animation: robotSpread 3s forwards;
	/* animation-timeline: view(); */
}

.robotCard:nth-child(1) {
	--offset: 1;
	z-index: 1;
}

.robotCard:nth-child(2) {
	--offset: 0;
	z-index: 2;
}

.robotCard:nth-child(3) {
	--offset: -1;
	z-index: 1;
}

.robotCard>p {
	margin: 0
}

.robotCardImg {
	position: relative;
	height: 20vw;
	width: 20vw;
	border: 1px solid white;
	border-radius: 10%;
	overflow: hidden;
}

.robotCardImg>img {
	width: 100%;
	height: 100%;
	&:not(.img-contain) {
		object-fit: cover;
	}
}

#profiles {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5vh 5vw;
}

#profiles>.profile {
	flex-basis: 45%;
	display: flex;
	gap: 1vw;
	align-items: center;
	text-align: center;
}

.profile>* {
	width: 100%;
}

.profileImgContainer {
	width: 80%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border: solid white;
	border-radius: 50%;
}

.profileImgContainer>img {
	width: 100%;
	object-fit: cover;
	transition: transform 500ms;
}

.profileHeader {
	margin: 0 auto;
}

#sponsors {
	margin-bottom: 5vh;
}

#sponsorLogos {
	display: flex;
}

#sponsorLogos>.sponsorColumn {
	width: clamp(300px, 50%, 800px);
	display: flex;
	flex-direction: column;

	& img {
		width: 100%;
	}
}

#scrollToTop {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8vmin;
	height: 8vmin;
	border-radius: 50%;
	bottom: 5vmin;
	right: 5vmin;
	padding: 2vmin;
	transform: translateY(200%);
	border: 0.5vmin solid black;
	z-index: 100;
	cursor: pointer;
	overflow: hidden;
	color-scheme: light;
}

#scrollToTop>img {
	width: 100%;
	height: 100%;
}

footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 15vh;
	border-top: solid white 2px;
	background-color: var(--footer-background-color);
}

.footerColumn {
	margin: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footerColumn>ul {
	height: 100%;
	list-style: none;
	padding: unset;
	margin: 0;
}

.footerColumn>ul>* {
	margin: 0;
}

#footerLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: min(10vw, 50px);

	&>.logo {
		height: 15vh;
	}

	&>h2 {
		text-align: center;
		margin: 0;
	}
}

#sponsorTierCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 15vw;
	gap: 2vw;
}

.sponsorTierCardBorder {
	flex: 1;
	height: 50vh;
	margin: auto 0.5vw;
	border-radius: 2rem;
	background: linear-gradient(135deg, var(--borderColour2), var(--borderColour1) 40%, var(--borderColour2));
	background-repeat: repeat;
	background-size: 300%;
	background-position: 100% 100%;
	transform: translate(0, 0);
	box-shadow: rgba(255, 255, 255, 0.5) 0.05vw 0.05vw 10px;
	transition: transform 1s, background-position 1s, box-shadow 1s;
}

#sponsorTierCards>.sponsorTierCardBorder:has(.sponsorTierCard.highlightedTier) {
	flex: 1.2;
	height: 60vh;
}

#sponsorTierCards .sponsorTierCard {
	background: #2a2b2ac6;
	border-radius: 2rem;
	position: relative;
	transition: transform 1s;
	height: calc(100% - 1rem);
	margin: 0.5rem;
	padding: 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
}

#sponsorTierCards>.sponsorTierCardBorder:hover {
	transform: translate(0, -1vw);
	background-position: 0 0;
	box-shadow: rgba(255, 255, 255, 0.3) 0.05vw 0.8vw 20px;
}

.sponsorTierCard>h3 {
	margin: 1rem 0 0 1vw;
	font-size: 2em;
	background-image: linear-gradient(90deg, var(--borderColour1), var(--borderColour2), var(--borderColour1));
	background-repeat: repeat;
	background-size: 200%;
	background-clip: text;
	transition: color 1s;
	animation: gradientPan 5s linear infinite;
	color: rgba(255, 255, 255, 1);
}

.sponsorTierCard>.tierPrice {
	margin: 0;
	margin-left: 1vw;
}

.sponsorTierCard:hover>h3 {
	color: rgba(0, 0, 0, 0);
}

.sponsorTierCard::before {
	content: "";
	background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y),
			rgba(255, 255, 255, 0.1),
			transparent 40%);
	border-radius: inherit;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	position: absolute;
	z-index: 2;
	opacity: 0;
	transition: opacity 500ms;
}

.sponsorTierCard:hover::before {
	opacity: 1;
}

.sponsorTierCard>ul {
	padding-left: 1.5em;
	font-size: calc(var(--body-font-size) * 0.9);
}

#sponsorContactButtons {
	display: flex;
	width: 100%;
}

.sponsorContactButton {
	flex: 1;
	text-decoration: none;
	margin-bottom: 5vh;
	transition: flex 300ms cubic-bezier(0.175, 0.885, 0.48, 1.275);
}

.sponsorContactButton>button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	background-color: #337b5c;
	border: 3px solid white;
	cursor: pointer;
}

.sponsorContactButton:nth-child(1)>button {
	border-radius: 1ch 0ch 0ch 1ch;

	&:before {
		content: "";
		display: inline-block;
		background-image: url(/assets/email.svg);
		background-size: 1lh;
		width: 1lh;
		height: 1lh;
	}
}

.sponsorContactButton:nth-child(2)>button {
	border-radius: 0ch 1ch 1ch 0ch;

	&:before {
		content: "";
		display: inline-block;
		background-image: url(/assets/phone.svg);
		background-size: 1lh;
		width: 1lh;
		height: 1lh;
	}
}